<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.naeilo_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".UserInfoMenuActivity"
            android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".CommunityContentActivity"/>
        <activity android:name=".WithTripMainActivity"/>


        <activity android:name=".SmartScheduleActivity"></activity>

        <activity android:name=".CommunitySearchResultActivity"></activity>


        <activity android:name=".LoginActivity">
        </activity>
        <activity
            android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".CommunitySearchActivity" />

        <activity android:name=".userInfoActivity" />
        <activity android:name=".CommunityActivity" />
        <activity android:name=".MainActivity">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>